@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 40vh;
  min-height: 220px;  
  padding: 20px;
  margin-bottom: 30px;
}


.todo{
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  background: #fff;
  opacity: .8;
  border-radius: 10px;
  border: 0;
  text-decoration: none;
  font-style: normal;
  color: #4a52cc;
  padding: 10px;
}

.todo:hover, .button:focus, .button:active{
  opacity: .6;
  }

.wrapper-todo::-webkit-scrollbar {
  width: 12px;             
}

.wrapper-todo::-webkit-scrollbar-track {
  background: none;      
}

.wrapper-todo::-webkit-scrollbar-thumb {
  background-color: #4a52cc;   
  border-radius: 16px;       
  border: none;  
}

.wrapper-todo{
display: flex;
flex-direction: column;
background: #fff;
opacity: .8;
border-radius: 16px;
width: 400px;
transform: translateY(-400%);
max-height: 250px;
overflow-y: auto;
}

.wrapper-todo-active{
  transform: translateY(0%);
}


.add-wrapper-todo{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.input-wrapper{
  width: 60%;
  margin-left: 15px;
}
.todo-descrip{
width: 100%;
background-color: #4a52cc;
color: #fff;
opacity: .8;
border: none;
border-radius: 5px;
height: 30px;
outline: 0;
outline-offset: 0;
padding-left: 10px;
font-family: 'Arial', sans-serif;
font-size: 18px;
}

.todo-descrip::placeholder{
  color: #fff;
}

.todo-btn{
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  cursor: pointer;
  background:#4a52cc;
  opacity: .8;
  border-radius: 10px;
  border: 0;
  text-decoration: none;
  font-style: normal;
  color: white;
  padding: 5px 20px;
}

.button-wrapper{
  width: 40%;
}

h2{
  font-family: 'Arial', sans-serif;;
  font-size: 25px;
  color: #4a52cc;
  margin: 10px 0 10px 0;
}


.todos-wrapper{
  width: 100%;
  margin-bottom: 10px;
}
.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 5px 10px;
  height: 30px;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.done-task{
  text-decoration: line-through;
  opacity: .5;
  color: black
}

.list-none{
  display: none;
}

.done-btn{
  border: 1px solid  rgb(27, 131, 35);;
  padding: 1px;
  border-radius: 5px;
  background: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: rgb(27, 131, 35);
  cursor: pointer;
  margin-right: 10px;
  height: 30px;
  width: 40px;
}
.delete-btn{
  border: 1px solid rgb(173, 14, 14);
  padding: 1px;
  border-radius: 5px;
  background: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: rgb(173, 14, 14);
  cursor: pointer;
  margin-right: 10px;
  height: 30px;
  width: 40px;
}

.empty-list{
  color: black;
  width: 100%;
  border-top:  dashed #4a52cc;
  padding:  10px;
}






.player{
  width: 260px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  /*width: 40px;
  height: 40px;
  background-size: 40px 40px;
  content: url(../assets/svg/play.svg);*/
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
  /*content: url(../assets/svg/pause.svg);*/
}
.item-active {
  color:  #e74b0d;
  
}

.player-icon,
.slider-icon,
.change-quote,
.settings-btn {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s; 
  padding: 0 25px 0 25px; 
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings-btn:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.settings-btn:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.volume-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.volume-button{
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/volumeOn.svg");
  background-repeat: no-repeat;
  padding: 0 50px 0 0;
  cursor: pointer;
}

.muted {
  background-image: url("../assets/svg/volumeOff.svg");
}

.volume-slider{
  background: #ffffff;
  opacity: .8;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.volume-progress{
  background: #4a52cc;
  border-radius: 5px;
  height: 6px;
  width: 100%;
  cursor: pointer;
}

.wrapper-progress{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title{
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #fff;
  padding-right: 10px;
}

.progress-container{
  background: #ffffff;
  opacity: .8;
  border-radius: 5px;
  width: 100%;
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer; 
  margin-bottom: 10px; 
}

  .progress{
  background: #4a52cc;
  border-radius: 5px;
  height: 6px;
  opacity: 10;
}

.time-song{
  display: flex;
  padding-left: 5px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px; 
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 20vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.settings-btn {
  background-image: url("../assets/svg/settings.svg");
  background-repeat: no-repeat;  
  filter: invert();
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0 0 20px 10px;
}

.settings-wrapper{
  position: fixed;
  left: 20px;
  bottom: 55px;
  width: 300px;
  height: 480px;
  background: #fff;
  border-radius: 16px; 
  transform: translateX(-300%);
  transition: all 0.3s ease; 
}

.settings-wrapper-active{ 
  transform: translateX(0);
}

.settings-container{
  display: flex;
  flex-direction: column;
  margin: 20px;
  
}

.mini-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
  padding: 10px;
  margin-bottom: 10px;
}

.select{
  width: 100%;
  height: 40px;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 2px 3px rgb(13 96 111 / 16%);
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

.item-lang{
  width: 30px;
  height: 30px;
  background-size: 24px 24px;
  background-image: url(../assets/img/en.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
  transition: 1s;
}

.russian {
  width: 30px;
  height: 30px;
  background-size: 24px 24px;
  background-image: url(../assets/img/ru.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  cursor: pointer;
  transition: 1s;
}


.slider-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 30%;
  cursor: pointer;
}


.hidden-item{
  opacity: 0;
  visibility: hidden;
}

.show-item{
  opacity: 1;
  overflow: none;
}


.time, 
.date, 
.greeting-container, 
.name, 
.weather, 
.player, 
.quote-container,
.change-quote,
.todo,
.wrapper-todo
{
transition: all 0.3s ease; 
}


@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}